.App {
  text-align: center;
}

.clue {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.word-input {
  display: block;
}

.word-input input {
  width: 20px;
  height: 20px;
}